<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      
    </div>
    <ul class="nav-links">
      <li>
        <a (click)="dashboard()" >
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a (click)="editprof()"class="active">
          <i class='bx bx-box' ></i>
          <span class="links_name" >Update-Profile</span>
        </a>
      </li>
      <li>
        <a (click)="alumniList()">
          <i class='bx bx-list-ul' ></i>
          <span class="links_name" >Members-List</span>
        </a>
      </li>
     
      <li class="log_out">
        <a (click)="logout()">
          <i class='bx bx-log-out'></i>
          <span class="links_name"  >Log out</span>
        </a>
      </li>
    </ul>
</div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">LBSITW</span>
      </div>
      
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">--> <div class="notify-icon">
          <img src="assets/images/users/user-1.jpg" class="img-fluid rounded-circle" alt="" />
        </div>
        <span class="admin_name">{{user.name}}<P></P></span>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
       
       
      
        
      </div>

      <div class="sales-boxes">
        <div class="top-sales box">
            <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                alt="profile-image">
                <h4 class="mb-0">{{user.name}}</h4><br>
                <p class="text-muted mb-2 font-13" *ngIf="user.designation">{{user.designation}}</p>
                <p class="text-muted mb-2 font-13" *ngIf="user.company">@{{user.company}}</p><br>
              
            </div>
            <div class="indicator">
              
                <span class="text">
                  <p class="text-muted mb-2 font-13"><strong>Full Name : </strong> <span class="ms-2">{{user.name}}</span></p><br>
  
                  <p class="text-muted mb-2 font-13"><strong>Mobile : </strong><span class="ms-2">{{user.contact}}</span></p><br>
  
                  <p class="text-muted mb-2 font-13"><strong>Email : </strong> <span class="ms-2">{{user.email}}</span></p><br>
  
</span><br>
              </div>
          </div>
        <div class="recent-sales box">
          <div class="title">Update Profile:</div><br>
          <div class="contact-form">
            <form [formGroup]="registrationForm" (ngSubmit)="update(registrationForm.value)">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" formControlName="name"/>
              </div>
              <br>
             
              <div class="form-group">
                <label for="Contact">Contact</label>
                <input type="Contact" name="Contact" formControlName="contact"/>
              </div>
              <br>
            
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" name="image"/>
              </div>
              <br>
  
       <!--     <div class="form-group">
                <label for="year">Year of Passout</label>
                <input type="date" name="yop" formControlName="yop"/>
              </div>
              <br>
              
              <div class="form-group">
                <label for="course">Course</label>
                <select name="course" formControlName="course">
                  <option>BTech</option>
                  <option>MTech</option>
                  <option>PhD</option>
              </select>
              </div>
              <br>
             
              <div class="form-group">
                <label for="dept">Department</label>
                <select name="department" formControlName="department">
                  <option>CS</option>
                  <option>IT</option>
                  <option>EC</option>
                  <option>AE</option>
                  <option>Civil</option>
              </select>
              </div>
              <br>
              -->  
  
              <div class="form-group">
                <label for="design">Designation</label>
                <input type="text" name="designation" formControlName="designation"/>
              </div>
              <br>
  
              <div class="form-group">
                <label for="comp">Company</label>
                <input type="text" name="Company" formControlName="company"/>
              </div>
              <br>
  
              <div class="form-group">
                <label for="add">Address</label>
                <textarea name="address" formControlName="address" id="add" cols="105" rows="10"></textarea>
              </div>
              <br><br>
              
              <button type="submit" class="btn">Save</button>
            </form>
          </div>
        </div>
    
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>


