<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <title>Events Ticket Card</title>
</head>

<body>

    <!-- Navbar -->
    <nav id="navbar">
        <div class="container1">
            <img src="assets/images/collegelogo2.png" id="logo">
            <ul>
                <li><a (click)="homepage()">Home</a></li>
                <li><a (click)="eventspage()">Events</a></li>
                <li><a (click)="contactpage()">Contact</a></li>
                <li><a (click)="signin()">Sign In</a></li>
                <li><a (click)="signup()">Sign Up</a></li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/remix23.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">REMIX'23</p>
                    <div class="separator"></div>
                    <p class="info">16 April</p>
                    <p class="price"> </p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                        

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/union23.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">UNION DAY'23</p>
                    <div class="separator"></div>
                    <p class="info">31 March </p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/sports22.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">SPORTS DAY'22</p>
                    <div class="separator"></div>
                    <p class="info"> 3 July</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            Central Stadium,Statue,Palayam
                        </p>
                        

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
               
            </div>
        </div>

        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/iham22.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">COLLEGE DAY</p>
                    <div class="separator"></div>
                    <p class="info"> 1 July</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/yd22.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">YAGNA DHRUVA'22</p>
                    <div class="separator"></div>
                    <p class="info">3,4 & 5 June</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/prayaag.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">PRAYAAG 2.O</p>
                    <div class="separator"></div>
                    <p class="info">14,15 May</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/yavanika22.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">YAVANIKA'22</p>
                    <div class="separator"></div>
                    <p class="info">23,24 April</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/union22.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">UNION DAY'22</p>
                    <div class="separator"></div>
                    <p class="info"> 4 March</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/estrella22.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">ESTRELLA'22</p>
                    <div class="separator"></div>
                    <p class="info">3 January</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/yavanika20.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">YAVANIKA'20</p>
                    <div class="separator"></div>
                    <p class="info">1,2 March</p>
                    <p class="price"></p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute Of Technology for Women,Poojapura
                        </p>
                       

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/sports20.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Tech Bubble Conf</p>
                    <div class="separator"></div>
                    <p class="info">New York, NY</p>
                    <p class="price">35$</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            245 W 52nd St, New York
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM EDT
                        </p>

                        <p class="info description">
                            Welcome! Everyone has a unique perspective after reading a book, and we would love you
                            to share yours with us! We meet one Sunday evening <span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/prayaag19.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Tech Bubble Conf</p>
                    <div class="separator"></div>
                    <p class="info">New York, NY</p>
                    <p class="price">35$</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            245 W 52nd St, New York
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM EDT
                        </p>

                        <p class="info description">
                            Welcome! Everyone has a unique perspective after reading a book, and we would love you
                            to share yours with us! We meet one Sunday evening <span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/union19.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Tech Bubble Conf</p>
                    <div class="separator"></div>
                    <p class="info">New York, NY</p>
                    <p class="price">35$</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            245 W 52nd St, New York
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM EDT
                        </p>

                        <p class="info description">
                            Welcome! Everyone has a unique perspective after reading a book, and we would love you
                            to share yours with us! We meet one Sunday evening <span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/collegeday19.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Tech Bubble Conf</p>
                    <div class="separator"></div>
                    <p class="info">New York, NY</p>
                    <p class="price">35$</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            245 W 52nd St, New York
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM EDT
                        </p>

                        <p class="info description">
                            Welcome! Everyone has a unique perspective after reading a book, and we would love you
                            to share yours with us! We meet one Sunday evening <span>more...</span>
                        </p>
                    </div>
                </div>
                <button class="action">Book it</button>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/yavanika19.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">YAVANIKA'19</p>
                    <div class="separator"></div>
                    <p class="info">6 & 7 April</p>
                    <p class="price"> </p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute of Technology for Women, Poojappura
                        </p>
                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/yd19.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">YAGNA DHRUVA'19</p>
                    <div class="separator"></div>
                    <p class="info">8,9 & 10 March</p>
                    <p class="price"> </p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute of Technology for Women, Poojappura
                        </p>
                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/Alumni18.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">ALUMNI MEET'18</p>
                    <div class="separator"></div>
                    <p class="info">23 December 2018</p>
                    <p class="price"> </p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute of Technology for Women, Poojappura
                        </p>

                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/sports18.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">ESCAPADE'18</p>
                    <div class="separator"></div>
                    <p class="info">27 October 2018</p>
                    <p class="price"> </p>
                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LNCPE Stadium,Karyavattom
                        </p>
                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="assets/images/courses/union18.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">UNION DAY'18</p>
                    <div class="separator"></div>
                    <p class="info"> 12 October 2018 </p>
                    <p class="price"> </p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            LBS Institute of Technology for Women, Poojappura
                        </p>
                        <p class="info description">
                            "We welcome you all to join us to take part in this special day.
                            Let the mere thought of our college bring back pleasant recollections."
                        </p>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
    <div class="page_content">
        <div id="events_page" class="page">
            <div id="upcoming_events">
                <div class="row">
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Tuesday</p>
                                <p class="calendar_date">04</p>
                                <p class="calendar_year"><span class="calendar_month">October</span>
                                    <span> 2022</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name"> LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue"> Venue: Seminar Hall, LBSITW,Poojappura</p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Wednesday</p>
                                <p class="calendar_date">02</p>
                                <p class="calendar_year"><span class="calendar_month">May</span>
                                    <span> 2022</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Seminar Hall, LBSITW,Poojappura</p>

                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>

                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Wednesday</p>
                                <p class="calendar_date">01</p>
                                <p class="calendar_year"><span class="calendar_month">December</span>
                                    <span> 2021</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Seminar Hall, LBSITW,Poojappura</p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">20</p>
                                <p class="calendar_year"><span class="calendar_month">October</span>
                                    <span> 2021</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Felicitation program for Civil Service & KAS winners</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Main Seminar Hall, LBSITW,Poojappura</p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Monday</p>
                                <p class="calendar_date">11</p>
                                <p class="calendar_year"><span class="calendar_month">October</span>
                                    <span> 2021</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Seminar Hall, LBSITW,Poojappura</p>

                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Wednesday</p>
                                <p class="calendar_date">31</p>
                                <p class="calendar_year"><span class="calendar_month">March</span>
                                    <span> 2021</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Seminar Hall, LBSITW,Poojappura</p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Tuesday</p>
                                <p class="calendar_date">22</p>
                                <p class="calendar_year"><span class="calendar_month">September</span>
                                    <span> 2020</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Seminar Hall, LBSITW,Poojappura</p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Monday</p>
                                <p class="calendar_date">23</p>
                                <p class="calendar_year"><span class="calendar_month">March</span>
                                    <span> 2020</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Seminar Hall, LBSITW,Poojappura</p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">

                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Thursday</p>
                                <p class="calendar_date">07</p>
                                <p class="calendar_year"><span class="calendar_month">November</span>
                                    <span> 2019</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA Executive Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue: Seminar Hall, LBSITW,Poojappura</p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Sunday</p>
                                <p class="calendar_date">23</p>
                                <p class="calendar_year"><span class="calendar_month">December</span>
                                    <span> 2018</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Alumni Meet'18</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">12</p>
                                <p class="calendar_year"><span class="calendar_month">September</span>
                                    <span> 2015</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Special Alumni Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">27</p>
                                <p class="calendar_year"><span class="calendar_month">December</span>
                                    <span> 2014</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Sixth Annual General Body Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>

                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">21</p>
                                <p class="calendar_year"><span class="calendar_month">December</span>
                                    <span> 2013</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Fifth Annual General Body Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">22</p>
                                <p class="calendar_year"><span class="calendar_month">December</span>
                                    <span> 2012</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Fourth Annual General Body Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Tuesday</p>
                                <p class="calendar_date">03</p>
                                <p class="calendar_year"><span class="calendar_month">October</span>
                                    <span> 2011</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Third Annual General Body Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Thursday</p>
                                <p class="calendar_date">12</p>
                                <p class="calendar_year"><span class="calendar_month">August</span>
                                    <span> 2010</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Executive Committee Meeting</p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">15</p>
                                <p class="calendar_year"><span class="calendar_month">August</span>
                                    <span> 2009</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Selection of Best Outgoing Student 2007-08 </p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Sunday</p>
                                <p class="calendar_date">26</p>
                                <p class="calendar_year"><span class="calendar_month">October</span>
                                    <span> 2008</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Second Annual General Body Meeting </p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">25</p>
                                <p class="calendar_year"><span class="calendar_month">August</span>
                                    <span> 2007</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">LITAA DAY </p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Saturday</p>
                                <p class="calendar_date">15</p>
                                <p class="calendar_year"><span class="calendar_month">April</span>
                                    <span> 2006</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">Alumni DAY </p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>
                    <div class="column large-6 small-12 event-column ">
                        <div class="event-block" data-slug="be-your-own-boss-iitraana-global-meet"
                            data-href="/e/be-your-own-boss-iitraana-global-meet" data-year="2023">
                            <div class="calendar-block">
                                <p class="calendar_day">Sunday</p>
                                <p class="calendar_date">05</p>
                                <p class="calendar_year"><span class="calendar_month">March</span>
                                    <span> 2006</span>
                                </p>
                            </div>
                            <div class="event-details-block">
                                <p class="event_name">First Annual General Body Meeting </p>
                                <div class="event_details_extra">
                                    <p class="event_venue">Venue:LBS Institute oF Technology for Women,Poojappura
                                    </p>
                                </div>
                            </div>
                            <p class="cB"></p>
                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>

</body>

</html>