* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Montserrat', sans-serif; */
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Poppins';
  font-size: 16px;
  /* background: #eee; */
  /* color: #777; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

#navbar{
  /* background:#4d0099; */
  overflow: auto;

}



#logo{
  float: left; 
  padding-top: 20px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  height: 100px;
  width: 100px;
}

#navbar ul{
  list-style: none;
  float: right;
}

#navbar ul li{
  float: left;
}

#navbar ul li a{
  display: block;
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
}

#navbar ul li a:hover{
/* background: #4397EA; */
transition: all 0.5s;
}
#navbar ul li a.current{
  /* background: #4d009A; */
  transition: all 0.5s;
}

#header {
  position: relative;
  max-width: 1100px;
  margin:auto;
}
a{
  text-decoration: none;
  color: #fff;
}
.container1{
  max-width: 1100px;
  margin:auto; 
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
}

a:hover{
  cursor:pointer
}

.item-container {
  position: relative;
  margin: 24px;
  /* width: 320px; */
  width: 37%;
  height: 540px;
  overflow: hidden;
  /* background-color: #f54d4dfd; */
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0px;
  align-items: center;
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}

.event-info {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 8px; */
}

.title,
.price {
  color: #eeff00;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

/* .separator {
  width: 20%;
  height: 2px;
  background-color: #fcfcfc;
  margin-bottom: 6px;
} */

.additional-info {
  border-top: 1px solid #ffffff;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: #fffb02;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #18537a;
  font-weight: bolder;
}

.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.event-block {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	height: 12;
	width: 100%;
	max-width: 72rem;
	display: inline-block;
	position: relative;
	vertical-align: top;
  color: #eeff00;
  font-weight:100;
	background: #000000bb;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03), 1px 0 1px rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03), 1px 0 1px rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	box-shadow: 0 0 3px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03), 1px 0 1px rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}




.event-block .calendar-block {
	float: left;
	background: #ffffffbb;
	color: #000000;
	width: 12rem;
	height: 100%;
	padding: 2.5rem 0.5rem;
	text-align: center;
	-webkit-border-radius: 4px 0 0 4px;
	        border-radius: 4px 0 0 4px;
}

.event-block .calendar-block p.calendar_date {
	font-size: 1.8rem;
	font-weight: bold;
}

.event-block .event-details-block {
	text-align: left;
	overflow: hidden;
	width: auto;
	height: 100%;
	position: relative;
}

.event-block .event-details-block p.event_name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 1rem;
  background-color: #000000b2;
}
.event_details_extra{
  padding: 0 0.5rem;
  bottom: 1rem;
}




@media only screen and (max-width: 32em) {
	.event-block {
		height: 9rem;
	}
	.event-block .calendar-block {
		width: 9rem;
		padding: 1rem 0.5rem;
	}
	.event-block .event-details-block p.event_name {
		padding: 0.5rem;
		font-size: 1.3rem
	}

}

/* End event block */

/***** Start events list page *****/
#events_page {
	text-align: center;
}

#events_page div.event-column {
	text-align: center;
}

#events_page div.event-block {
	margin-bottom: 2rem;
}

/* Footer */

/* #main-footer{
  background: #4d009a00;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color:#fff;
} */
