@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    line-height: 1.7em;
    color: #fff;

}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    cursor:pointer
}
.container{
    max-width: 1100px;
    margin:auto;
  
}

.lead{
    font-size: 16px;
    padding: 10px;
    text-align: justify;
    background-color: #000000be;
    /* width: 1200px;;
    padding: 100px; */
    border-radius: 10px;
    /* box-shadow: 0 8px 16px rgba(225, 250, 0, 0.288); */
    /* font-size: xx-large; */
}

.lead1{
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-align: justify;
  background-color: #000000be;
  /* width: 1000px;; */
  /* padding: 100px; */
  border-radius: 10px;
  /* box-shadow: 0 8px 16px rgba(225, 250, 0, 0.288); */
}

.btn{
    display: inline-block;
    padding: 07px 16px;
    background: rgb(38, 94, 222);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 03px;
    color:#fff;
    transition: all 0.3;
}

.clr{
    clear: both;
}

/* Close Utality Classes */

#navbar{
    /* background:#4d0099a4; */
    overflow: auto;

}

#logo{
    float: left; 
    padding-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    height: 100px;
    width: 100px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
}

#navbar ul li a:hover{
  /* background: #4397EA; */
  transition: all 0.5s;
}
#navbar ul li a.current{
    /* background: #4d009A; */
    transition: all 0.5s;
}

/* Showcase Area */
#showcase{
    /* background: url('../../../assets/images/home.jpeg') no-repeat
    center center/cover; */
    height: 600px;
    /* color: #fff; */
    color: #ffffff; 
    font-size: 24px; 
    font-weight: bold; 
    text-shadow: 1px 1px 1px #010c0f; 
}

.showcase-content{
    padding-top: 170px;
    color: #fff;
}

.showcase-content h2{
   font-size: 50px;
   line-height: 1.9em;
   text-align: center;
 }

 .showcase-content p{
    font-size: 20px;
    margin-bottom: 20px;
 }

 .showcase-content .btn:hover{
    background: #59acff85;
    border: none;
    color:#fff;
    transition: all 0.3s;
 }

/* About Section */

 .about{
    height: 350px;
    margin-top: 40px;
 }

 .about h3{
    width: 100%;
    border-bottom: 2px solid  #ffffff;
    border-radius: 10px;
   
 }

 .about h3 span{
    background:  #ffffffc4;
    border-radius: 10px;
    box-shadow: #ebfc00;
    padding: 10px 22px;
    color: #000000;
    text-align: center;
    display: inline-block;
    /* border-radius: 10px; */
 }
/* Close */


#services h3{
    width: 100%;
    border-bottom: 0.5px solid #ddd;;
 }

#services h3 span{
    background: #ddd;
    padding: 10px 22px;
    color: #333;
    text-align: center;
    display: inline-block;
 }

 #services .box{
    float: left;
    width: 33.33%;
    padding: 45px;
    text-align: center;
    margin: 30px 0px;
 }

 .bg-primary{
    width: 100%;
    /* border-bottom: 2px solid  #ddd; */
 }

 .light-gray{
    width: 100%;
    /* border-bottom: 2px solid  #ddd; */
 }

 #services h2{
  margin-bottom: 25px;
 }

/* Author */

#authors h3{
    width: 100%;
    border-bottom: 0.5px solid #ddd;;
 }

 #authors h3 span{
    background: #ddd;
    padding: 10px 22px;
    color: #333;
    text-align: center;
    display: inline-block;
 }

#authors{
    background: url('../../../assets/images/college.jpeg') no-repeat center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.788);
    height: 600px;
    padding-top: 40px ;
    border-radius: 10px;

 }
 #authors1{
  /* background: url('../../../assets/images/Litta.jpg') no-repeat ; */
  /* background-position: 0cqmax; */
  height:350px;
  padding-top: 400px ;
  
  
  

}

.auth{
    float: left;
    height: 500px;
    width: 33%;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 20px 01px;
}

.auth img{
    height: 150px;
    width: 150px;;
    border-radius: 50%;
}

.names{
    font-weight: bold;
    font-size: 18px;
}

/* Contact Us */
#contact h3{
    width: 100%;
    border-bottom: 0.5px solid #ddd;;
    margin-bottom: 35px;
}

#contact h3 span{
    background: #ddd;
    padding: 10px 22px;
    color: #333;
    text-align: center;
    display: inline-block;
}

#contact .form-group{
    margin-bottom: 20px;
}

.contact-form label{
    display: block;
    margin-bottom: 5px;
}

.contact-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

#contact textarea{
    height: 200px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border-color: #265ede;
}


/* Footer */

/* #main-footer{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color:#fff;

} */