<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav id="navbar">
        <div class="container">
          <img src="assets/images/collegelogo2.png" id="logo">
          <ul>
            <li><a (click)="homepage()">Home</a></li>
			      <li><a (click)="eventspage()">Events</a></li>
            <li><a (click)="contactpage()">Contact</a></li>
            <li><a (click)="signin()">Sign In</a></li>
            <li><a (click)="signup()">Sign Up</a></li>
          </ul>
        </div>
      </nav>
      <!-- Showcase Area -->
      <div id="showcase">
        <div class="container">
          <div class="showcase-content">
            <h2>LBS Institue of Technology for Women</h2>
          </div>
        </div>
      </div>
    </header>

    <!-- About LBSITW -->
	<div id="section1">
    <section class="about">
      <div class="container">
        <h3 class="bg-dark-line"><span>About LBSITW</span></h3>
        <br><br>
       
        <p class="lead">
          LBS Institute of Technology for Women Poojappura, Thiruvananthapuram, started functioning in 2001, is the first Women Engineering College in the state, managed by LBS Centre for Science and Technology (LBSCST), Thiruvananthapuram LBSCST, the premier Institution of computer training/consultancy, was established by the Government of Kerala in 1976. The Center is administered by a governing body and an executive committee. The Honorable Chief Minister is the Chairman of the governing body and the honorable minister for Education is the Vice-Chairman.
        </p>
        <p class="lead">
          LBSITW is the only engineering college for women in the Government sector in the state of Kerala. The Institute offers BTech programs in Electronics and Communication, Applied Elections and instrumentation, Computer Science and Engineering,Information Technology & Civil Engineering and MTech programs in Signal Processing and Computer Science and Engineering.
        </p>
      </div>
    </section>
	</div>

    <!-- Our Services -->
   
    <div class="clr"></div>

	<br><br>
    <div id="authors">
    </div>



    <div id="services">
      <div class="container">
        
        <div class="box bg-primary">
          <h2>Vision</h2>
          <!-- <i class="fa-solid fa-paintbrush fa-4x"></i> -->
          <p class="lead">
            <i>To be a centre of academic excellence empowering women in technical domain.</i>
          </p>
		  <br>
		  <br>
		  <br>
		  <br>
        </div>
        <div class="box light-gray">
          <h2>Mission</h2>
          <!-- <i class="fa-solid fa-code fa-4x"></i> -->
          <p class="lead">
            <i>Imparting value based technical education for transforming young women to professionals excelling globally in academics, research & development and industry meeting societal challenges.</i>
          </p>
        </div>
        <div class="box bg-primary">
          <h2>Core Values </h2>
        
          <p class="lead">
			<i>
                                • Excellence <br>
								
								• Integrity<br>
								
								• Respect<br>
								
								• Teamwork<br>
								
								• Environmental Awareness</i>
          </p>
		  <br><br>
        </div>
      </div>
    </div>

<!-- About LITAA -->
    <section class="about">
		<div class="container">
		  <h3 class="bg-dark-line"><span>About LITAA</span></h3>
		  <br><br>
		   <br>
		  <p class="lead1">
			        The Alumni association of LBS Institute of Technology for Women (LITAA) was constituted 
					in February 2006 with an objective to create strong communication links between the Alumni, 
					Students and the Institute. The main aim of LITAA is to help the alumni interact with their Alma 
					mater for a mutually beneficial co-operative experience. An active alumni network strengthens the 
					institutional activities and its development to a great extent. The institute can benefit from the 
					alumni skills and their experience by way of formal and informal interactive sessions with the
					current students and faculty. Apart from this an engaged alumni network of the college is one of 
					the key requisites for enhanced placement opportunities of our students. All former students of the 
					college have enrolled as members of this association
		  </p>
		</div>
	  </section>
	  <!-- Our Services -->
	 
	  <!-- <div class="clr"></div> -->
  
	  <br><br>
	  <div id="authors1">
	  </div>

    
    <footer id="main-footer">
      <div class="container">
			<h2 style="color: #f6f6f6;text-align: right;padding-right:80px;">Made With <span id="boot-icon" class="bi bi-heart-fill" style="font-size: 3rem; color: rgb(255, 0, 0);"></span></h2>
          
      </div>
    </footer>
  </body>
</html>