<!--<div><button (click)="fetch()">Members</button><br><br></div>

  <div *ngFor="let member of members">
    <p><strong>Name:</strong> {{ member.attributes.name }}</p>
    <p><strong>Email:</strong> {{ member.attributes.email }}</p>
    <p><strong>Contact:</strong> {{ member.attributes.contact }}</p>
    <p><strong>Year of Passing:</strong> {{ member.attributes.yop }}</p>
    <p><strong>Address:</strong> {{ member.attributes.address }}</p>
    <p><strong>Department:</strong> {{ member.attributes.department }}</p>
    <p><strong>Company:</strong> {{ member.attributes.company }}</p>
    <p><strong>Designation:</strong> {{ member.attributes.designation }}</p>
    <p>-----------------------------------------------------------------</p>
  </div>-->
  <router-outlet> </router-outlet>
  