<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      
      
    </div>
      
       <!-- <li>
          <a >
            <i class='bx bx-box' ></i>
            <span class="links_name" (click)="editprof()">Update-Profile</span>
          </a>
        </li>-->
        <ul class="nav-links">
          <li>
            <a  (click)="dashboard()" class="active">
              <i class='bx bx-grid-alt' ></i>
              <span class="links_name" >Dashboard</span>
            </a>
          </li>
        <li>
          <a (click)="alumniList()">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Members-List</span>
          </a>
        </li>
        <li>
            <a (click)="reqList()">
              <i class='bx bx-list-ul' ></i>
              <span class="links_name" >Request-List</span>
            </a>
          </li>       
        <li class="log_out">
          <a (click)="logout()">
            <i class='bx bx-log-out'></i>
            <span class="links_name" >Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">LBSITW</span>
      </div>
      <!-- <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div> -->
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <div class="notify-icon">
          <img src="assets/images/users/user-1.jpg" class="img-fluid rounded-circle" alt="" />
      </div>
        <span class="admin_name">Apoorva R P</span>
        
  
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box"style="width:100%">
          <div class="right-side">
            <div class="box-topic">Welcome Apoorva R P!!!!</div>
            
            <div class="indicator">
              
              <span class="text"></span>
            </div>
          </div><br>
          
        </div><br>
        
          </div>
          <div class="home-content"style="align-items:left;">
            <div class="overview-boxes">
          <div class="box"style="width:100%; align-items: left;">
          
            <div class="right-side">
                <span>Posts</span><br><br>
              <div class="box-topic"><form action="#" class="comment-area-box">
                <div class="col-md-6">
                    <div class="mb-4">
                        <label>Image  </label>
                        <input type="file"><br><br>
                    </div><br>
                </div> 
                <div class="col-md-6">
                    <div class="mb-4">
                        <label for="firstname" class="form-label">Title </label>
                        <input type="text" class="form-control" id="firstname" placeholder="Enter first name"><br>
                    </div><br>
                </div>
                <textarea rows="4"cols="55" class="form-control border-0 resize-none" placeholder="Write something...."></textarea>
                </form></div>
              <div class="number"> 
              </div>
              <div class="indicator">
                <div class="button3">
                    Posts
                  </div><br><br>&nbsp;
              </div>
            </div>
          
          </div>
          </div>
          </div>
            </div>
            
    <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                  alt="profile-image">
                  <h4 class="mb-0">Event</h4><br>
                  
                  
              </div>
              
              <div class="indicator">
                <p></p> </div>
            </div>
            
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                  alt="profile-image">
                  <h4 class="mb-0">Event</h4><br>
                  
              </div>
              
              <div class="indicator">
                <p></p>
              </div>
            </div>
            
          </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                    alt="profile-image">
                    <h4 class="mb-0">Event</h4><br>
                    
                </div>
                
                <div class="indicator">
                  <p></p>
                </div>
              </div>
              
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                    alt="profile-image">
                    <h4 class="mb-0">Event</h4><br>
                    
                    
                </div>
                
                <div class="indicator">
                  <p></p>
                </div>
              </div>
              
            </div>
          
          
        </div>
  
     
      </div>
      <div class="home-content">
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                  <div class="box-topic"> 
                      
                      <h4 class="mb-0">Feedback</h4><br>
                      
                  </div>
                  
                  <div class="indicator">
                    <p></p>
                  </div>
                </div>
                
              </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> 
                  
                  <h4 class="mb-0">Feedback</h4><br>
                  
              </div>
              
              <div class="indicator">
                <p></p>
              </div>
            </div>
            
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> 
                  
                  <h4 class="mb-0">Feedback</h4><br>
                  
              </div>
              
              <div class="indicator">
                <p></p>
              </div>
            </div>
            
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> 
                  
                  <h4 class="mb-0">Feedback</h4><br>
                  
              </div>
              
              <div class="indicator">
                <p></p>
              </div>
            </div>
            
          </div>
          
          
        </div>
  
     
      </div>
            </section>
            </body>
            </html> 


