<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="sidebar">
        <div class="logo-details">
          
          
        </div>
          <ul class="nav-links">
            <li>
              <a href="#">
                <i class='bx bx-grid-alt' ></i>
                <span class="links_name">Dashboard</span>
              </a>
            </li>
            <li>
                <a href="#" class="active">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Request-List</span>
              </a>
            </li>
            <li>
                <a href="#">
                <i class='bx bx-box' ></i>
                <span class="links_name">Update-Profile</span>
              </a>
            </li>
            <li>
                <a href="#">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Members-List</span>
              </a>
            </li>
            
           
            
            
            
            
            
            <li class="log_out">
              <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
              </a>
            </li>
          </ul>
      </div>
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">LBSITW</span>
          </div>
          <!-- <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search' ></i>
          </div> -->
          <div class="profile-details">
            <!--<img src="images/profile.jpg" alt="">-->
            <div class="notify-icon">
              <img src="assets/images/users/user-1.jpg" class="img-fluid rounded-circle" alt="" />
          </div>
            <span class="admin_name">Apoorva R P</span>
            
      
          </div>
        </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                alt="profile-image">
                <h4 class="mb-0">Nayza Thasneem</h4><br>
                <p class="text-muted">@Boss</p><br>
                
            </div>
            
            <div class="indicator">
                <div class="button2">
                    Accept
                  </div><br><br>&nbsp;<div>  <p>  <br></p><br>   <br></div> <div class="button1">
                    Reject
                  </div>
            </div>
          </div>
          
        </div>
        <div class="box">
            <div class="right-side">
              <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                  alt="profile-image">
                  <h4 class="mb-0">Revathy P</h4><br>
                  <p class="text-muted">@CEO</p><br>
                  
              </div>
              
              <div class="indicator">
                  <div class="button2">
                      Accept
                    </div><br><br>&nbsp;<div>  <p>  <br></p><br>   <br></div> <div class="button1">
                      Reject
                    </div>
              </div>
            </div>
            
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                  alt="profile-image">
                  <h4 class="mb-0">Apoorva R P</h4><br>
                  <p class="text-muted">@Chair</p><br>
                  
              </div>
              
              <div class="indicator">
                  <div class="button2">
                      Accept
                    </div><br><br>&nbsp;<div>  <p>  <br></p><br>   <br></div> <div class="button1">
                      Reject
                    </div>
              </div>
            </div>
            
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> <img src="assets/images/users/user-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                  alt="profile-image">
                  <h4 class="mb-0">Gowri Krishna L</h4><br>
                  <p class="text-muted">@Web developer</p><br>
                  
              </div>
              
              <div class="indicator">
                  <div class="button2">
                      Accept
                    </div><br><br>&nbsp;<div>  <p>  <br></p><br>   <br></div> <div class="button1">
                      Reject
                    </div>
              </div>
            </div>
            
          </div>
        
        
      </div>

   
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>


