
<!--<html>
    <head><title>Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        <div class="login-page">
             <div class="form">
                <h2>Registration Form</h2>
        <br>
        <form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && onSubmit(registrationForm.value)">
            <label>Name</label>
            <input type="text" name="name" formControlName="name" size="15">
            <br>
            <div class="alert alert-danger" *ngIf="registrationForm.get('name')?.hasError('required') && registrationForm.get('name')?.touched">
                Please enter a valid name!
            </div>
            <br>
            <label>E-Mail</label>
            <input type="email"  id="email" name="email" formControlName="email" size="15">
            <br>
            <div class="alert alert-danger" *ngIf=" registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
                Please enter a valid email!    
            </div>
            <br>
            <label>Password</label>
            <input type="password"  id="password" name="password"  formControlName="password" size="15">
            <br>
            <div class="alert alert-danger" *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched">
                Please enter a valid password!
            </div>
            <br>
            <label>Contact</label>
            <input type="text" name="contact"  formControlName="contact" size="15">
            <br>
            <div class="alert alert-danger" *ngIf="registrationForm.get('contact')?.hasError('required') && registrationForm.get('contact')?.touched">
                Please enter a valid contact!
            </div>
            <br>
            <label>Image</label>
            <input type="file" name="image"  value="image" > (formControlName="image")
            <br>
            <label>Year of Passout</label>
            <input type="date" name="yop" formControlName="yop" >
            <br> 
            <div class="alert alert-danger" *ngIf="registrationForm.get('yop')?.hasError('required') && registrationForm.get('yop')?.touched">
                Please enter your year of passout!
            </div>
            <br>
            <label>Course</label>
            <select name="course" formControlName="course" >
                <option>BTech</option>
                <option>MTech</option>
                <option>PhD</option>
            </select>
            <br> 
            <div class="alert alert-danger" *ngIf="registrationForm.get('course')?.hasError('required') && registrationForm.get('course')?.touched">
                Please select your course!
            </div>
            <br>
            <label>Department</label>
            <select name="department" formControlName="department">
                <option>Select</option>
                <option>CS</option>
                <option>IT</option>
                <option>EC</option>
                <option>AEI</option>
                <option>Civil</option>
            </select>
            <br>
            <div class="alert alert-danger" *ngIf="registrationForm.get('department')?.hasError('required') && registrationForm.get('department')?.touched">
                Please select your department!
            </div>
            <br>
            <label>Company</label>
            <input type="text" name="Company" formControlName="company"  size="15">
            <br>
            <div class="alert alert-danger" *ngIf="registrationForm.get('company')?.hasError('required') && registrationForm.get('company')?.touched">
                
            </div>
            <br>
            <label>Designation</label>
            <input type="text" name="designation" formControlName="designation"  size="15">
            <br>
            <div class="alert alert-danger" *ngIf="registrationForm.get('designation')?.hasError('required') && registrationForm.get('designation')?.touched">
                
            </div>
            <br>
            <label>Address</label><br>
            <textarea rows="5" cols="80" name="address" formControlName="address">
            </textarea>
            <br>
            <div class="alert alert-danger" *ngIf="registrationForm.get('address')?.hasError('required') && registrationForm.get('address')?.touched">
                
            </div>
            <br>
            <button type="submit">REGISTER</button>
        </form>
        

<div class="notification" *ngIf="showNotification">
    <p><b>Your data has been recorded!</b></p>
    <p>You will be approved by the admin.</p>
    <button (click)="hideNotification()"style="width:100px;">Close</button>
  </div>
  
    </div>
    </div>
    </body>
</html>                 -->


<!-- NEW SIGNUP -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>SIGN UP</title>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav id="navbar">
        <div class="container">
          <img src="assets/images/collegelogo2.png" id="logo">
          <ul>
            <li><a (click)="homepage()">Home</a></li>
			      <li><a (click)="eventspage()">Events</a></li>
            <li><a (click)="contactpage()">Contact</a></li>
            <li><a (click)="signin()">Sign In</a></li>
            <li><a (click)="signup()">Sign Up</a></li>
          </ul>
        </div>
      </nav>
      <!-- Showcase Area -->
      <!-- <div id="showcase">
        <div class="container">-->
          <div class="showcase-content">
            <h2 style="text-align: center;text-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0); padding: 10px;">Sign up</h2>
          </div>
        <!-- </div>
      </div> -->
    </header>

    <!-- Contact -->
<div id="contact">
    <div class="container">
        <!-- <h3><span>SIGN UP</span></h3> -->
        <div class="contact-form">
          <form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && onSubmit(registrationForm.value)">
            <div class="form-group" style="color: white;">
              <label for="name">Name</label>
              <input type="text" name="name" formControlName="name"/>
            </div>
            <div class="alert alert-danger" *ngIf="registrationForm.get('name')?.hasError('required') && registrationForm.get('name')?.touched">
              Please enter a valid name!
          </div>
            <div class="form-group" style="color: white;">
              <label for="email">Email</label>
              <input type="email" name="email" formControlName="email" id="email"/>
            </div>
            <div class="alert alert-danger" *ngIf=" registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
              Please enter a valid email!    
          </div>
            <div class="form-group" style="color: white;">
              <label for="password">Password</label>
              <input type="password" name="password" formControlName="password" id="password"/>
            </div>
            <div class="alert alert-danger" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
              Please enter a valid password, minimum 8 characters!
          </div>
            <div class="form-group" style="color: white;">
              <label for="Contact">Contact</label>
              <input type="Contact" name="Contact" formControlName="contact"/>
            </div>
            <div class="alert alert-danger" *ngIf="registrationForm.get('contact')?.hasError('required') && registrationForm.get('contact')?.touched">
              Please enter a valid contact!
          </div>
            <div class="form-group" style="color: white;">
              <label for="image">Image</label>
              <input type="file" name="image"/>
            </div>

            <div class="form-group" style="color: white;">
              <label for="year">Year of Passout</label>
              <input type="date" name="yop" formControlName="yop"/>
            </div>
            <div class="alert alert-danger" *ngIf="registrationForm.get('yop')?.hasError('required') && registrationForm.get('yop')?.touched">
              Please enter your year of passout!
          </div>
            <div class="form-group" style="color: white;">
              <label for="course">Course</label>
              <select name="course" formControlName="course">
                <option>BTech</option>
                <option>MTech</option>
                <option>PhD</option>
            </select>
            </div>
            <div class="alert alert-danger" *ngIf="registrationForm.get('course')?.hasError('required') && registrationForm.get('course')?.touched">
              Please select your course!
          </div>

            <div class="form-group" style="color: white;">
              <label for="dept">Department</label>
              <select name="department" formControlName="department">
                <option>CS</option>
                <option>IT</option>
                <option>EC</option>
                <option>AE</option>
                <option>Civil</option>
            </select>
            </div>
            <div class="alert alert-danger" *ngIf="registrationForm.get('department')?.hasError('required') && registrationForm.get('department')?.touched">
              Please select your department!
          </div>

            <div class="form-group" style="color: white;">
              <label for="design">Designation</label>
              <input type="text" name="designation" formControlName="designation"/>
            </div>

            <div class="form-group" style="color: white;">
              <label for="comp">Company</label>
              <input type="text" name="Company" formControlName="company"/>
            </div>

            <div class="form-group" style="color: white;border-radius: 10px;">
              <label for="add">Address</label>
              <textarea name="address" formControlName="address" id="add" cols="30" rows="10"></textarea>
            </div>
            <div class="alert alert-danger" *ngIf="registrationForm.get('address')?.hasError('required') && registrationForm.get('address')?.touched">
                Please enter your address!
            </div>
            <div class="form-group">
            <button type="submit" class="btn">Submit</button>
          </div>
          </form>
          <div class="notification" *ngIf="showNotification">
            <p><b>Your data has been recorded!</b></p>
            <p>You will be approved by the admin.</p>
            <button class="btn" (click)="hideNotification()"style="width:100px;">Close</button>
          </div>
    </div>
  </div>
</div>
    <footer id="main-footer">
      <div class="container">
        <h2 style="color: #f6f6f6;text-align: right;padding-right:80px;">Made With <span style="color: red; width:100%;">{{ '&#x2665;' }}</span> Web Team '23</h2>
      </div>
    </footer>
  </body>
</html>