/* You can add global styles to this file, and also import other style files */
#logo{
    float: left; 
    padding-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 100px;
    width: 100px;
}
#navvbar{  
    /* background:#4d0099; */
    overflow: auto;
}

#logo{
    float: left; 
    padding-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    height: 100px;
    width: 100px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
}

#navbar ul li a:hover{
  background: #eeff00a9;
  transition: all 0.5s;
}
#navbar ul li a.current{
    /* background: #4d009A; */
    transition: all 0.5s;
}
a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    cursor:pointer
}
.container{
    max-width: 1100px;
    margin:auto;
  
}
#navbar{
    background:#00000085;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-size: large;
    /* font-weight: bold; */
}

body{
    font-family: 'Poppins';
    line-height: 1.7em;
    background: url('assets/images/home.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
    /* color: #fff; */
    /* opacity: 0.8; */
}

/* Default styles for all screen sizes */
body {
    font-size: 16px;
  }
  
  /* Styles for screens with a max width of 768px (i.e. tablets and smaller) */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Styles for screens with a max width of 480px (i.e. smartphones) */
  @media (max-width: 480px) {
    body {
      font-size: 12px;
    }
  }
  #main-footer{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color:#fff;

}